h1 {
    color: cadetblue;
}
.single-square{
    /* display: inline-block; para presentar un cuadrado al lado del otro en vez de arriba y abajo */
    height: 10vh;
    width: 5%;
    background-color: hsl(0, 34%, 51%);
}

.square{
    background-color: hsl(0, 100%, 50%);
    height: 2vh;
    margin: 1rem 0;
    width: 100%;
}