.banner{
    display: flex;
    width: 90%;
    padding: 5rem 5%;
}
.banner-text{
    width: 90%;
    text-align:left;
    padding: 0 10%;
}
.banner-text p{
    font-size: 1.3rem;
}
.banner-image{
    width: 100%;
}