.contenedor {
    padding: 0rem 3rem;
}

.tab-container .panel{
    display: flex;
}

.panel-menu {
    display: flex;
}

.buttons-menu {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}


.products-results-filter .admin {
    align-self: start;
}