
footer{
    height: 10vh;
    align-items: center;

    .bussiness-footer-text{
        margin-bottom: 1rem;
        text-align: center;
    }

    .bussiness-footer-link{
        text-align: center;
    }
}

